body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.bg-image {
    background-image: url("background.jpg");
    filter: blur(4px);
    /* -webkit-filter: blur(5px); */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}
.bg-text { 
    /* color: white; */
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* sets the stack,i.e, which element is infront,more z-index more front */
    width: 80%;
    padding: 20px;
    /* Difference b/w border and content */
    text-align: center;
}
body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  background-color: rgba(106, 100, 100, 0.4); 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 30px;
  box-sizing: border-box;
}

button {
  background-color: #41f40a;
  color: black;
  font-weight: bold;
  padding: 14px 20px;
  float: left;
  margin-top: 2%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 40%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  margin-left: 20%;
}

.imgcontainer {
  text-align: center;
  margin-top: 2%;
}

img.avatar {
  width: 10%;
}

.container {
  padding: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
a:hover{
  color: blueviolet;
}
::placeholder{
  color: white;
}
div a:hover{
  color: blueviolet;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: bottom;
     margin-right: 10%;
  }
  .cancelbtn {
    margin-left: 0;
     width: 100%;
  }
  .loginbutton{
    width: 100%;
  }
}

