@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
.bg-image {
    background-image: url("background.jpg");
    filter: blur(4px);
    /* -webkit-filter: blur(5px); */
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.bg-text { 
    /* color: white; */
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* sets the stack,i.e, which element is infront,more z-index more front */
    width: 80%;
    padding: 20px;
    /* Difference b/w border and content */
    text-align: center;
}
body {font-family: Arial, Helvetica, sans-serif;}


button {
  background-color: #41f40a;
  color: rgb(2, 0, 0);
  font-weight: bold;
  padding: 14px 20px;
  float: left;
  margin-top: 2%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 30%;
  margin-right: 30px;
}

button:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
h1{
  font-family: 'Orbitron', sans-serif;
  color: greenyellow;
  font-size: 60px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: bottom;
     margin-right: 10%;
  }
  .cancelbtn {
    margin-left: 0;
     width: 100%;
  }
  .loginbutton{
    width: 100%;
  }
}

/* Add this CSS to style the navbar */

.navbar {
  overflow: hidden;
  background: linear-gradient(rgb(6, 100, 6),black);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  }

.a {
  float: right;
  display:inline;
  color: #090909;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 14px;
  margin: 10px;
}

.navbar a:hover {
  background-color: green;
}

.active {
  background-color: green;
}
